
.Nav {
	background: var(--navbar-background-color);
	display: table-cell;
	vertical-align: top;

	min-width: 300px;
	max-width: 400px;
	width: 20%;
	height: 100vh;

	.header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 20px;

		img {
			max-width: 250px;
			width: 75%;

			transition: all 0.25s ease;
			&:hover {
				transform: scale(1.095);
				filter: brightness(95%);
			}
		}
		h1 {
			font-family: "Roboto Thin", sans-serif;
			font-weight: 800;
			margin-top: 15px;
			font-size: 2em;
		}
	}
	.links {
		margin-top: 40px;
	}
}

.NavEntry {
	display: flex;
	margin: 10px 20px;

	padding: 0;
	border-radius: 15px;

	color: var(--navbar-entry-color);
	background: var(--navbar-entry-background-color);
	&:hover {
		color: var(--navbar-entry-color-hover);
		background: var(--navbar-entry-background-color-hover);
	}
	&.active {
		color: var(--navbar-entry-color-current);
		background: var(--navbar-entry-background-color-current);
	}
	transition: all 0.25s,
				background-color 0.2s,
				color 0.1s,
				border-radius 0.25s;
	&:hover {
		border-radius: 20px;
		transform: scale(1.085, 1.025);
	}

	* {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	:first-child {
		margin-left: 18%;
	}
	:last-child {
		margin-right: 18%;
	}

	.icon {
		width: 50px;
		height: auto;
	}
	.name {
		width: 100%;
		text-align: center;
		font-family: 'Quicksand', sans-serif;
		font-weight: 500;
		font-size: 22px;
	}
}
